.sections-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* row-gap: 1rem;
    flex-direction: column; */
}

.logo-nav {
    max-width: 14.063rem;
    max-height: 14.063rem;
    width: auto;
    height: auto;
}

.sections-nav-list {
    /* position: absolute; */
    display: flex;
    padding: 1rem;
    /* width: 100%; */
    justify-content: center;
    /* background-color: white; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; */
    gap: 3rem;
    /* border-bottom: solid 3px #f2f2f2; */
    transition: all .3s ease-out;
    
}

.header {
    padding-top: .5rem;
    z-index: 10;
    top: 0;
    position: sticky;
    transition: .3s;
}

.sections-nav-list li {
    list-style-type: none;
    color: #733A70;
    font-size: 32px;
}

.sections-nav-list li a {
    color: #733A70;
    font-size: 32px;
    transition: 0.3s;
    text-decoration: none;
}

.sections-nav-list li a:hover {
    color: #F9F2E7;
    font-size: 32px;
}

.top-links {
    color: #733A70;
}

.header-scrolled {
    background-color: #FEFFF2;
    box-shadow: 0px 6px 16px -1px rgba(169, 169, 169, 0.76);
}

.nav-bar-hidden {
    background: transparent;
    box-shadow: unset;
    border: unset !important;
}

.nav-bar-scrolled {
    visibility: visible;
    opacity: 1;
    transform: translateY(-1000%);
}

