* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.animated-text {
    overflow: hidden;
    position: relative;
  }


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 0.5s;
}

.videogame-body-container {
    transition: .3s;
    position: relative;
    z-index: 11;
}

.videogame-btn, .videogame-btn:focus {
    position: fixed;
    left: 2.5rem;
    bottom: 25px;
    height: 70px;
    width: 70px;
    color: #fff;
    border: none;
    outline: none;
    background: #733A70;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

  
.content {
    max-width: 90rem;
    width: 100vw;
    margin: auto;
}

.section-banner {
    background-color: #FEFFF2;
    /*  */
}

.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.text-section-banner, .image-section-banner{
    max-width: 50%;
    width: 100%;
    /* background-color: red; */
}

.image-section-banner img {
    width: 100%;
}
    
.circular-img img {
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%
}

.lily-script {
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.page-content {
    width: 100%; 
    position: relative; 
    background: white
}

.main-margin-page {
    display: none; /*Activar después*/
    width: 98%;
    height: 5806px;
    left: 29px;
    z-index: 100;
    top: 156px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border: 7px rgba(242.25, 217.42, 211.97, 0.34) solid;
}

/* Start home banner section */

.main-banner-message{
    color: #733A70;
    font-size: 6rem;
    font-family: Lily Script One;
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
}

.main-banner-message span {
    color: #733A70;
    transform: rotate(90deg);
}

.main-banner-message .wrapper {
    padding-top: 35%;
    padding-left: 15%;
    padding-right: 15%;
}

.banner-image-container {
    height: auto; 
    max-height: 100rem;
    /* left: 674px;  */
    right: 0;
    position: relative;
}

.home-banner {
    width: 100%; 
    height: 100%; 
    position: relative;
    background: #FEFFF2;
}

.home-banner-wrapper {
    width: 100%; 
    top: 0px; 
    position: relative; 
    background: #FEFFF2; 
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.home-banner-wrapper.main-banner {
    width: 100%;
    top: 0px;
    position: relative;
    background: #FEFFF2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.home-banner-wrapper.main-banner::before {
    content: '';
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(254,255,242,1) 67%, rgba(254,255,242,1) 100%);
}

.home-banner-wrapper.main-banner .main-banner-message {
    position: absolute;
    top: 70vh;
    z-index: 2;
    width: 100%;
    text-align: center;
    /* background-color: #FEFFF2;*/
}

.home-banner-wrapper.main-banner p {
    position: absolute;
    top: 70vh;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: #733A70;
    font-size: 2rem;
    font-family: Lily Script One;
    font-weight: 400;
    word-wrap: break-word;
}

.home-banner-wrapper.left {
    grid-template-columns: 60% 40%;
}

.banner-image-container.right img, .banner-image-container.left img {
    width: 100%;
    height: auto;
    float: right;
    position: relative;
    right: 0;
}

.main-banner-message-wrapper{
    padding: 35% 15% 0;
}
/* End home banner section */

/* Start us section */

.us-section-wrapper {
    width: 100%;
    row-gap: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /*  */
}

#us-message, #us-message-2 {
    text-align: center;
    color: #733A70;
    font-size: 2rem;
    font-family: "Francois One", sans-serif; 
    width: 70%;
}

.client-photo-container.big {
    width: 490.10px;
    height: 597.16px;
    left: 8%;
    top: 20%;
    position: relative;
    transform: rotate(-3.76deg);
    transform-origin: 0 0;
    background: #FEFFF2;
    border-radius: 25px;
}

.client-photo-container.big img {
    width: 435.10px;
    height: 444.92px;
    left: 5%;
    top: 5%;
    position: relative;
    /* transform: rotate(0deg); */
    transform-origin: 0 0;
    border-radius: 10px;
}

.client-photo-container.big::after {
    content: '';
    width: 148.31px;
    height: 26.52px;
    left: 0100px;
    top: 0;
    position: absolute;
    transform: rotate(128.58deg);
    transform-origin: 0 0;
    background: #F9F2E7;
    z-index: 100;
}

.client-photo-container.big::before {
    content: '';
    width: 148.31px;
    height: 26.52px;
    right: -60px;
    top: -20px;
    position: absolute;
    transform: rotate(52deg);
    transform-origin: 0 0;
    background: #F9F2E7;
    z-index: 100;
}

.client-photo-container.medium {
    width: 354.54px;
    height: 446.98px;
    left: 300px;
    top: -200px;
    position: relative;
    transform: rotate(16.66deg);
    transform-origin: 0 0;
}

.client-photo-container.medium div {
    width: 329.61px;
    height: 401.61px;
    left: 5.40px;
    top: 32.60px;
    position: relative;
    transform: rotate(16.66deg);
    transform-origin: 0 0;
    background: #F9F2E7;
    border-radius: 25px;
}

.client-photo-container.medium img {
    width: 292.62px;
    height: 299.22px;
    left: 5%;
    top: 5%;
    position: relative;
    transform: rotate(-0.34deg);
    transform-origin: 0 0;
    border-radius: 10px;
}

.client-photo-container.medium::after {
    content: '';
    width: 99.74px;
    height: 17.83px;
    left: 267.28px;
    top: 79.98px;
    position: absolute;
    transform: rotate(57.42deg);
    transform-origin: 0 0;
    background: #FEFFF2;
    z-index: 100;
}

.client-photo-container.medium::before {
    content: '';
    width: 99.74px;
    height: 17.83px;
    left: -94.84px;
    top: 356.98px;
    position: absolute;
    transform: rotate(56.68deg);
    transform-origin: 0 0;
    background: #FEFFF2;
    z-index: 100;

}

.us-section-information {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: flex-start;
}

.us-section-information h2 {
    width: 100%;
    height: 58px; 
    text-align: center; 
    color: #733A70; 
    font-size: 54px; 
    font-family: Lily Script One; 
    font-weight: 400; 
    word-wrap: break-word;
}

.us-section-information p {
    width: 390px; 
    color: #4F2A4D; 
    font-size: 22px; 
    font-family: "Francois One", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.us-section-information p:nth-child(2n + 1) {
    align-self: end;
}

.clients-photo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
/* End us section */

/* Start ondemand slider */
.on-demand-product-container, .catalog-product-container {
    max-width: 25rem;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FEFFF2;
    border-radius: 10px;
    height: auto;
    box-shadow: -21px 20px 16px -16px rgba(169, 169, 170, 1.76);

}


.on-demand-product-photo, .catalog-product-photo {
    width: 100%; 
    height: auto;
    padding: 1rem .5rem;
}
.on-demand-product-info, .catalog-product-info {
    width: 100%; 
    height: auto;
}

.on-demand-product-info-wrapper, .take-order-btn {
    width: 299px; 
    height: auto;
    background: #733A70; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;

    width: 213px; 
    height: 25px; 
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: "Francois One", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.product-name {
    width: 100%; 
    height: auto; 
    text-align: center; 
    color: #4F2A4D;
    font-size: 34px; 
    font-family: "Francois One", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.product-price {
    width: 100%; 
    height: auto; 
    text-align: center; 
    color: #4F2A4D; 
    font-size: 22px; 
    font-family: "Francois One", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.take-order-btn {
    width: 100%; 
    height: auto; 
}

.on-demand-product-info, .catalog-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.on-demand-slider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin-bottom: 10rem;
    gap: 5rem;
}
.on-demand-slider-content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: wrap;
    /* display: grid; */
    /* grid-template-columns: 33% 33% 33%; */
    gap: 3rem;
}

.on-demand-slider-wrapper h2 {
    text-align: center; 
    color: #733A70; 
    font-size: 60px; 
    font-family: Lily Script One; 
    font-weight: 400; 
    word-wrap: break-word;
}

.product-photo-wrapper {
    /* background: #FAF2F0; */
    /* background: #FAF2F0; */
    border-radius: 10px;
    display: flex;
    height: 25rem;
    justify-content: center;
    align-items: center;
    /* border: 10px solid #FAF2F0; */
    /* padding: 1rem 1rem;*/
}

.product-photo-wrapper img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #FAF2F0;
    /* border-radius: 10px;*/
}
/* End On demand slider */

/* Start Catalog Section */
.catalog-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.catalog-content {
    max-width: 100%;
    /* display: grid; */
    gap: 2rem;
    /* grid-template-columns: 25% 25% 25% 25%; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#catalog h2 {
    text-align: center; 
    color: #733A70; 
    font-size: 60px; 
    font-family: Lily Script One; 
    font-weight: 400; 
    word-wrap: break-word;
}
#catalog {
    margin-top: 5rem;
    margin-bottom: 5rem;
    /*  */
}
/* End Catalog Section*/


/*Start additional bottom info*/
.additional-info-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0rem;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.additional-info-wrapper li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #733A70;
    gap: 1rem;
}

.additional-info-wrapper p {
    text-align: center;
    width: 60%;
    font-family: "Francois One", sans-serif; 
}

.additional-info-wrapper span {
    width: 100%;
    font-size: 8rem;
}
/*End additional bottom info*/


/* page-footer */
.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto; 
    left: 0px; 
    top: 0px; 
    background: #FAF2F0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    flex-direction: row;
    font-family: "Francois One", sans-serif; 
    color: #733A70;
}

.page-footer-labels {
    display: flex;
    gap: 8rem;
    margin-left: 10rem;
}

.page-footer-labels ul li:nth-child(1) {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* .page-footer-labels ul li:nth-child(1)::after {
    content: '';
    width: 22rem;
    height: 0.5rem;
    background-color: #733A70;
    position: absolute;
    display: block;
} */

.page-footer-labels ul li {
    list-style: none;
}

.footer-content-wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 10% 60% 30%;
    width: 100%;
    padding: 2rem 5rem 0;
}
.page-footer-labels,
.page-footer-social-links,
.footer-bottom-info {
    text-align: left; /* Centra el texto dentro de cada sección */
    list-style: none;
}

.page-footer-social-links li {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}


.page-footer-social-links li span {
    font-size: 4rem;
}

.page-footer-social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.footer-bottom-info {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: flex-end;
    /* width: 100%;*/
}

.footer-bottom-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.footer-bottom-info-wrapper ul {
    display: flex;
    font-size: 2.5rem;
    list-style: none;
    gap: 1rem;
    align-items: center;
}



/* page-footer */

/* start take order-form */

.take-order-wrapper {
    /*  */
    display: flex;
    flex-direction: column;
    background: #FAF2F0; 
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100vh;
}

.take-order-wrapper h2 {
    text-align: center; 
    color: #733A70; 
    font-size: 60px; 
    font-family: Lily Script One; 
    font-weight: 400; 
    word-wrap: break-word;
}

.take-order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEFFF2;
    width: 50%;
    height: 70%;
    padding: 5%;
    border-radius: 10px;
    gap: 8%;
}

.take-order-form input {
    background-color: #F9F2E7;
    border-radius: 10px;
    border: none;
    border-bottom: #733A70 solid 3px;
    height: 2.5rem;
    width: 80%;
}

.take-order-form button {
    padding: 3%;
    border-radius: 10px;
    color: white;
    background-color: #733A70;
}
/* end take order-form */


/* Start Fotorama slides */

.banner-image-container .fotorama {
    width: 100% !important;
}
.banner-image-container .fotorama .fotorama__wrap {
    width: 100% !important;
}

.banner-image-container .fotorama .fotorama__stage {
    width: 100% !important;
}

.banner-image-container .fotorama .fotorama__stage .fotorama__stage__shaft {
    width: 100% !important;
}

.banner-image-container .fotorama .fotorama__stage .fotorama__stage__frame img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    left: unset !important;
    top: 0px;
    max-height: 100rem !important;
}
/* End Fotorama slides */

.hide-element {
    display: none !important;
}

@media (max-width: 769px) {
    h2 {
        font-size: 42px !important;
    }
    .us-section-information {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }
    .us-section-information p {
        font-size: 1rem;
        width: 100%;
    }
    .clients-photo-wrapper {
        max-width: 100%;
    }
    .client-photo-container.medium {
        display: none;
    }
    .client-photo-container.big {
        width: 100%;
        height: auto;
        left: unset;
    }
    
    .client-photo-container.big::before {
        width: 100px;
        height: 26.52px;
        right: -60px;
    }
    
    .client-photo-container.big img {
        width: 15rem;
        height: 100%;
        left: unset;
    }
    
    .client-photo-container.big::after {
        width: 100px;
        height: 26.52px;
        left: 59px;
    }
    
    .on-demand-product-container, .catalog-product-container {
        max-width: 20rem;
    }

    .product-photo-wrapper {
        max-height: 20rem;
    }

    .logo-nav {
        max-width: 9.063rem !important;
    }

    .additional-info-wrapper span {
        font-size: 5rem;
    }

    .additional-info-wrapper {
        grid-template-columns: 50% 50%;
        row-gap: 3rem;
        padding: 1rem;
    }

    .catalog-content {
        grid-template-columns: auto;
    }

    .on-demand-slider-content {
        grid-template-columns: auto;
    }

    .us-section-wrapper {
        flex-flow: column-reverse;
        row-gap: 5rem;
    }

    .home-banner-wrapper.main-banner .main-banner-message {
        top: 50vh;
    }

    .footer-content-wrapper {
        padding: 2rem 1rem 0;
    }

    .page-footer-labels ul li:nth-child(1) {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .logo-footer {
        width: 150px;
        height: 100px;
    }

    .page-footer-labels {
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .page-footer-social-links li span {
        font-size: 3rem;
    }
    .main-banner-message:nth-child(1) {
        font-size: 3rem;
    }
    .main-banner-message {
        font-size: 2rem;
    }

    .take-order-form {
        width: 80%;
    }
    .footer-content-wrapper img {
        width: 120px !important;
        height: 75px !important;
    }
    .page-footer-labels ul li:nth-child(1)::after {
        width: 100px;
    }
    .footer-bottom-info-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .footer-content-wrapper {
        row-gap: 1.8rem;
    }
}
